@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-heading: "Public Sans", ui-sans-serif, system-ui, sans-serif;
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

    --color-primary: #00482f;
    --color-primary-container: #006241;
    --color-secondary: #fec733;
    --color-secondary-container: #fec733;
    --color-tertiary: #820011;
    --color-tertiary-container: #ae001b;
    
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f0f4fd;
    --color-surface-container: #eaeef7;
    --color-surface-container-high: #e4e8f1;
    --color-surface-container-highest: #dee3eb;
    
    --color-on-surface: #171c22;
    --color-on-surface-variant: #3f4943;
    
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
}
